version: "3"

services:
  db:
    build:
      context: .
      dockerfile: db.Dockerfile
    restart: always
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: modist
      POSTGRES_USER: application_user
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
    ports:
      - 5432:5432
    networks:
      - db

  db-admin:
    image: dpage/pgadmin4
    depends_on:
      - db
    restart: unless-stopped
    volumes:
      - db-admin-data:/var/lib/pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
    ports:
      - "${PG_ADMIN_PORT:-5050}:80"
    networks:
      - db

  app:
    depends_on:
      - db
    build:
      context: .
      dockerfile: app.Dockerfile
    restart: always
    environment:
      DATABASE_URL: ${DATABASE_URL:-postgres://application_user:password@db:5432/modist}
      APP_SECURITY_SECRET: ${APP_SECURITY_SECRET:-09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7}
    ports:
      - "${PORT:-8000}:80"
    networks:
      - db

networks:
  db:
    driver: bridge

volumes:
  db-data:
    driver: local

  db-admin-data:
    driver: local
