name: Test Package
on: [push, pull_request]
jobs:
  container-job:
    runs-on: ubuntu-latest
    container: python:3.7
    services:
      db:
        image: postgres
        env:
          POSTGRES_DB: modist
          POSTGRES_USER: application_user
          POSTGRES_PASSWORD: password
          POSTGRES_PORT: 5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install --upgrade coverage
          python -m pip install -e .[test] --upgrade
      - name: Run tests
        env:
          DATABASE_URL: postgres://application_user:password@db:5432/modist
          APP_SECURITY_SECRET: secret
        run: |
          pytest
      - name: Build coverage
        run: |
          coverage xml -o cobertura.xml
      - name: Publish coverage
        uses: codacy/codacy-coverage-reporter-action@master
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
